@font-face {
  font-family: 'Lekton';
  src: url('Lekton-Regular.ttf');
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('SourceCodePro-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'SourceCodePro';
    src: url('SourceCodePro-ExtraLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

html, body { overflow: hidden; }

#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#rootbg, #rootbgfader, #letterchooserfadeleft, #letterchooserfaderight {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#letterchooserfadeleft {
  pointer-events: none;
  -webkit-clip-path: polygon(0px 50px, 47% 50px, 47% 98px, 0 98px); /* cover letterchooser */
  -webkit-mask: -webkit-linear-gradient(left, rgba(0,0,0,0.9) 0, rgba(0,0,0,0.6) 41%, rgba(0,0,0,0) 47%);
}
#letterchooserfaderight {
  pointer-events: none;
  -webkit-clip-path: polygon(53% 50px, 100% 50px, 100% 98px, 53% 98px); /* cover letterchooser */
  -webkit-mask: -webkit-linear-gradient(right, rgba(0,0,0,0.9) 0, rgba(0,0,0,0.6) 41%, rgba(0,0,0,0) 47%);
}
#rootbgfader {
  -webkit-transition: opacity 1.3s ease-in-out;
  -moz-transition: opacity 1.3s ease-in-out;
  transition: opacity 1.3s ease-in-out;
}


#maininput.game, #floatinginput {
  position: absolute;
  top: auto;
  bottom: 30px;
  left: 5%;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 90%;
  opacity: 1.0;
  background: rgba(255,255,255,0.3);
}
#maininput.game, #floatinginput, #answer span {
  border-width: 0;
  height: 40px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  font-family: SourceCodePro, monospace;
  font-weight: 300;
}
#floatinginput { 
  background: transparent; 
  display: none;
  -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s linear, color 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s linear, color 0.3s linear;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear, color 0.3s linear;
}
#maininput.begin {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  font-size: 1.5em;
  z-index: 3;
}

#letterchooser {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 44px;
}
#inner {
  height: 44px;
  width: 1144px; /* 44 * 26 */
  padding: 0 200px;
}
#inner span {
  display: block;
  width: 44px;
  height: 44px;
  float: left;
  line-height: 40px;
  text-align: center;
  font-size: 64px;
  font-family: SourceCodePro, monospace;
  font-weight: 300;
  color: white;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-shadow: #aaf 0px 0px 5px;
}
#inner span.completed {
  color: #dd4814;
  text-shadow: #dd4814 0px 0px 5px;
}

/*
#inner span:nth-child(2n) {
  background: rgba(255,0,0,0.2);
}
#inner span:nth-child(2n+1) {
  background: rgba(0,255,0,0.2);
}
*/

#answer {
  position: absolute;
  top: 114px;
  left: 0;
  right: 0;
  height: 80px;
  text-align: center;
  font-family: SourceCodePro, monospace;
  font-weight: 300;
  color: white;
}
#clue {
  position: absolute;
  top: 194px;
  left: 0;
  right: 0;
  bottom: 40px; /* input */
  text-align: center;
  color: white;
}
#answer span {
  position: relative;
  display: inline-block; 
  line-height: 43px;
}
#answer span b {
  color: transparent;
  display: inline-block;
  height: 40px;
  font-weight: normal;
}
#answer span em, #answer span strong {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  font-weight: normal;
  font-style: normal;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  white-space: nowrap;
}
#answer span strong { opacity: 0; }
#answer span.revealed em, #answer span.revealing em {
  opacity: 0;
}
#answer span.revealed strong {
  opacity: 1;
  color: white;
}
#coverall {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #dfd;
  z-index: 2;
}


header {
  position: absolute;
  top: 0; left: 0; right: 0; height: 44px;
  margin: 0;
  padding: 0;
}
header h1 {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  line-height: 44px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}
header button {
  position: absolute;
  top: 0;
  background: transparent;
  border-width: 0;
  color: white;
  height: 44px;
  width: 44px;
  margin: 0 3px;
  line-height: 40px;
  font-size: 24px;
  z-index: 2;
}

/*
#floatinginput { background-color: rgba(255,0,0,0.2); }
#answer span { background-color: rgba(0,255,0,0.2); }
*/