@font-face {
  font-family: 'Lekton';
  src: url('Lekton-Regular.ttf');
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#rootbg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.3s ease;
  -moz-transition: -moz-filter 0.3s ease;
  transition: filter 0.3s ease;
  -moz-filter: blur(20px);
  -webkit-filter: blur(20px);
  filter: blur(20px);
}

#maininput.game, #floatinginput {
  position: absolute;
  top: auto;
  bottom: 30px;
  left: 5%;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 90%;
  opacity: 1.0;
  background: rgba(255,255,255,0.6);
}
#maininput.game, #floatinginput, #answer span {
  border-width: 0;
  height: 40px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  font-family: Lekton, monospace;
}
#floatinginput { 
  background: transparent; 
  display: none;
  -moz-transition: -moz-transform 0.3s ease-in-out, opacity 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, opacity 0.3s linear;
  transition: transform 0.3s ease-in-out, opacity 0.3s linear;
}
#maininput.begin {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  font-size: 1.5em;
  z-index: 3;
}

#letterchooser {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 44px;
}
#inner {
  height: 44px;
  width: 1144px; /* 44 * 26 */
}
#inner span {
  display: block;
  width: 44px;
  height: 44px;
  float: left;
  line-height: 44px;
  text-align: center;
  font-size: 44px;
  font-family: Lekton, monospace;
  color: white;
}

#answer {
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  height: 80px;
  text-align: center;
  font-family: Lekton, monospace;
  color: white;
}
#clue {
  position: absolute;
  top: 154px;
  left: 0;
  right: 0;
  bottom: 40px; /* input */
  text-align: center;
  xbackground: #ccf;
  color: white;
}
#answer span {
  position: relative;
}
#answer span b {
  color: transparent;
}
#answer span em, #answer span strong {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  font-weight: normal;
  font-variant: normal;
  -moz-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
#answer span strong { opacity: 0; }
#answer span.revealed em {
  opacity: 0;
}
#answer span.revealed strong {
  opacity: 1;
  color: white;
}
#coverall {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: #dfd;
  z-index: 2;
}
